body {
    display: grid;
    place-items: center;
}

.grid-container {
    display: inline-grid;
    grid-template-areas:    
    "header header header"
    "header header header"
    "content content sidebar"
    "content content sidebar"
    "footer footer footer";
    grid-template-rows: repeat(5, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    grid-gap: 0.2rem;
    width: 80vw;
    height: 90vh;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: white;

    div {
        background-color: rgb(107, 0, 128);
    }

    .grid-item-1 {
        border-radius: 5px;
        grid-area: header;
        display: grid;
        place-items: center;
    }

    .grid-item-3 {
        border-radius: 5px;
        grid-area: sidebar;
        display: grid;
        place-items: center;
    }

    .grid-item-4 {
        border-radius: 5px;
        grid-area: footer;
        display: grid;
        place-items: center;
    }

    .grid-item {
        border-radius: 5px;
        display: grid;
        place-items: center;
    }
}