body {
    display: grid;
    place-items: center;
}

.grid-container {
    display: inline-grid;
    grid-template-areas: 
    "header header header"
    "header header header"
    "content content sidebar"
    "footer footer footer";
    grid-template-rows: repeat(4, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    grid-auto-columns: 1fr;
    grid-gap: 0.2rem;
    width: 80vw;
    height: 90vh;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: white;

    div {
        background-color: blue;
    }

    .item {
        border-radius: 5px;
        display: grid;
        place-items: center;
    }

    .item1{
        grid-area: header;
        background-color: red;
    }
    .item2{
        grid-area: content;
        background-color: green;
    }
    .item3{
        grid-area: sidebar;
        background-color: yellow;
    }
    .item4{
        grid-area: footer;
        background-color: blue;
    }
    .item5{
        grid-area: header-start / header-start / content-end / content-end;
        background-color: blueviolet;
        z-index: 1;
    }
}