.grid-container {
    display: inline-grid;
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: 30px repeat(3, 1fr) 50px;
    grid-gap: 0.5em;
    background-color: blue;
    width: 50rem;

    div {
        text-align: center;
        background-color: aqua;
        border: 1px solid;
        line-break: anywhere;
    }
}